*{
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header,
.footer{
    background-color: #1F2937;
}

.header_title{
    font-weight: extra-bold;
    font-size: 48px;
    color: #F9FAF8;
}
.header_subtitle,
.header_link{
    font-size: 18px;
    color: #E5E7EB;
}
.header_logo{
    font-size: 24px;
    color: #F9FAF8;
}
.header_sign_up_button{
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    padding: 6px 24px;
    color: #F9FAF8;
    font-weight: bold;
}
.sign_up_button{
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    border-radius: 5px;
    padding: 6px 24px;
    color: #F9FAF8;
    font-weight: bold;
}
.information_tile{
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}
.quote{
    background-color: #e5e7eb;
}
.quote_text{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.navbar{
    padding: 20px 200px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.header_list{
    display: flex;
    gap: 40px;
}
.header_link{
    text-decoration: none;
}